@model Stark.Models.Cars

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plate)
        </dd>
		<dt>
    @Html.DisplayNameFor(model => model.Review)
</dt>
<dd>
    <table class="table">
        <tr>
            <th>Badges</th>
            <th>Type</th>
			 <th>Reviewer IP</th>
			  <th>Added</th>
        </tr>
        @foreach (var item in Model.Review)
        {
		 BadgeType type = (BadgeType)item.Badge.Type;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Badge.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => type)
                </td>
				<td>
                    @Html.DisplayFor(modelItem => item.UserIp)
                </td>
				<td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
            </tr>
        }
    </table>
</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LicenceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
