@model IEnumerable<Stark.Models.CarsViewcs>

@{
    ViewData["Title"] = "Index";
	
}
<h2> Rankings </h2>
<table class="table">
    <thead>
        <tr>
		 <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plate)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.ReviewCount)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
		    <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.LicenceId">@Html.DisplayFor(modelItem => item.Plate)</a>
            </td>
			  <td>
                @Html.DisplayFor(modelItem => item.ReviewCount)
            </td>
			  <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
           
        </tr>
}
    </tbody>
</table>
