@model Stark.Models.Review

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserIp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserIp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Badge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Badge.Title)
        </dd>
		 <dt>
            @Html.DisplayNameFor(model => model.Badge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Badge.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Licence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Licence.Plate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
