@model IEnumerable<Stark.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Reviews" asp-action="Index">
    <p>
        Search: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Licence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserIp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Badge)
            </th>
			  <th>
                @Html.DisplayNameFor(model => model.Badge.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
var type = (BadgeType)item.Badge.Type;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Licence.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Badge.Title)
            </td>
			<td>
                @Html.DisplayFor(modelItem => type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
